<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/base :: head-content}">
    <title>Categorías</title>
</head>
<body>

<div th:replace="~{fragments/base :: navigation}"></div>

<div class="main-container">
    <h1>Categorías</h1>

    <!-- Contenedor Grid para las categorías -->
    <div class="products-grid">
        <div class="product-card" th:each="category :${categories}">
            <a th:href="@{/view/categories/{id}(id=${category.id})}">
                <div class="product-image-section">
                    <!-- Si hay URL de imagen, mostramos la imagen -->
                    <img th:if="${category.imageUrl != null and !category.imageUrl.isEmpty()}"
                         th:src="${category.imageUrl}"
                         alt="Imagen de categoria"
                         class="product-img">

                    <!-- Si NO hay URL, mostramos el placeholder -->
                    <!-- Corregido: extensión jpg y ruta absoluta -->
                    <img th:unless="${category.imageUrl != null and !category.imageUrl.isEmpty()}"
                         th:src="@{/img/category-placeholder.jpg}"
                         alt="Imagen placeholder"
                         class="product-img">
                </div>
                <div class="product-info">
                    <h2 th:text="${category.name}"> </h2>
                </div>
            </a>
            <div class="d-flex justify-content-center mx-auto mb-3">
                <form th:action="@{/view/categories/delete/{id}(id=${category.id})}" th:method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger" sec:authorize="hasRole('ADMIN')"
                            onclick="return confirmarEliminacion(event);">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/base :: footer}"></div>

<script th:src="@{/webjars/sweetalert2/dist/sweetalert2.min.js}"></script>
<script>
    function confirmarEliminacion(event) {
        event.preventDefault();

        const form = event.target.closest('form');

        Swal.fire({
            title: '¿Desea eliminar el producto?',
            text: "No podrás revertir esta acción y los elementos se borraran de los carritos de los usuarios",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit();
            }
        });
    }
</script>
</body>
</html>