<!doctype html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio</title>
</head>
<body>
    <h1>Producto</h1>
    <ul>
        <li><strong>id:</strong><span th:text="${producto.id}"></span></li>
        <li><strong>nombre:</strong><span th:text="${producto.name}"></span></li>
        <li><strong>precio:</strong><span th:text="${producto.price}"></span></li>
        <li><strong>descripción:</strong><span th:text="${producto.description}"></span></li>
        <li><strong>disponible:</strong><span th:text="${producto.stock}"></span></li>
        <li><strong>categoría:</strong><span th:text="${producto.category}"></span></li>
    </ul>

</body>
</html>
